<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <title>ㅎㅇ</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" th:href="@{/assets/css/main.css}">
    <noscript><link rel="stylesheet" th:href="@{/assets/css/main.css}"></noscript>
</head>
<body class="is-preload">
<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header">
        <div class="inner">
            <!-- Logo -->
            <a href="/" class="logo">
                <span class="symbol"><img src="images/logo.svg" alt="" /></span><span class="title">슈슈의 게시판</span>
            </a>

            <!-- Nav -->
            <nav>
                <ul>
                    <li><a href="#menu">Menu</a></li>
                </ul>
            </nav>

        </div>
    </header>

    <!-- Menu -->
    <nav id="menu">
        <h2>Menu</h2>
        <ul>
            <li><a href="/">메인</a></li>
            <li><a href="/join">회원가입</a></li>
            <li><a href="/login">로그인</a></li>
            <li><a href="/list">회원정보</a></li>
            <li><a href="/rent">책 대여</a></li>
        </ul>
    </nav>

    <div id="main">
        <div class="inner">
            <header>
                <h1>글 수정 페이지</h1>
            </header>
            <form th:action="@{|/update/${userInfo.userId}|}" method="post" name="updateForm">
                아이디: <input type="text" name="userId" th:value="${userInfo.userId}" readonly><br>
                비밀번호: <input type="password" name="userPw" th:value="${userInfo.userPw}"><br>
                이름: <input type="text" name="userName" th:value="${userInfo.userName}"><br>
                성별: <input type="text" name="userGender" th:value="${userInfo.userGender}"><br>
                생일: <input type="text" name="userBirth" th:value="${userInfo.userBirth}"><br>
                연락처: <input type="text" name="userPhone" th:value="${userInfo.userPhone}"><br>
                주소: <input type="text" name="userAddr" th:value="${userInfo.userAddr}"><br>
                이메일: <input type="text" name="userEmail" th:value="${userInfo.userEmail}"><br>

                <table>
                    <thead>
                    <tr>
                        <th>책 이름</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="book, iterStat : ${userInfo.bookList}" name="bookList">
                        <td th:text="${iterStat.index}"></td>
                        <td><input type="text" th:name="|bookList[${iterStat.index}]bookList.userId|" th:value="${book.userId}"></td>
                        <td><input type="text" th:name="|bookList[${iterStat.index}]bookList.bookNum|" th:value="${book.bookNum}"></td>
                        <td><input type="text" th:name="|bookList[${iterStat.index}]bookList.value|" th:value="${book.value}"></td>
<!--                        <td>-->
<!--                            <a th:href="@{|/updateBook/${userInfo.userId}/${book.bookNum}|}">수정</a>-->
<!--                            <a th:href="@{|/deleteBook/${userInfo.userId}/${book.bookNum}|}">삭제</a>-->
<!--&lt;!&ndash;                            <button type="button" onclick="location.href='/deleteBook/[[${userInfo.userId}]]/[[${book.bookNum}]]'">&ndash;&gt;-->
<!--&lt;!&ndash;                                삭제&ndash;&gt;-->
<!--&lt;!&ndash;                            </button>&ndash;&gt;-->
<!--&lt;!&ndash;                        <td>&ndash;&gt;-->
<!--&lt;!&ndash;                            <button type="submit" name="bookList[${book.bookNum}].updateBook" value="updateBook">수정</button>&ndash;&gt;-->
<!--&lt;!&ndash;                        </td>&ndash;&gt;-->
<!--                        </td>-->
                    </tr>
                    </tbody>
                </table>
                <input type="submit" value="수정">
            </form>



<!--            -->
<!--            <div th:each="book : ${userInfo.bookList}">-->
<!--                <span th:text="${book.value}"></span>-->
<!--                <form th:action="@{/deleteBook}" method="post" >-->
<!--                    <input type="hidden" name="userId" th:value="${userInfo.userId}">-->
<!--                    <input type="hidden" name="bookNum" th:value="${book.bookNum}">-->
<!--                    <button type="submit">삭제</button>-->
<!--                </form>-->
<!--            </div>-->

    </div>

        <!-- Footer -->
        <footer id="footer">
            <div class="inner">
                <section>
                    <h2>Get in touch</h2>
                    <form method="post" action="#">
                        <div class="fields">
                            <div class="field half">
                                <input type="text" name="name" id="name" placeholder="Name" />
                            </div>
                            <div class="field half">
                                <input type="email" name="email" id="email" placeholder="Email" />
                            </div>
                            <div class="field">
                                <textarea name="message" id="message" placeholder="Message"></textarea>
                            </div>
                        </div>
                        <ul class="actions">
                            <li><input type="submit" value="Send" class="primary" /></li>
                        </ul>
                    </form>
                </section>
                <section>
                    <h2>Follow</h2>
                    <ul class="icons">
                        <li><a href="#" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="#" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
                        <li><a href="#" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
                        <li><a href="#" class="icon brands style2 fa-dribbble"><span class="label">Dribbble</span></a></li>
                        <li><a href="#" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li>
                        <li><a href="#" class="icon brands style2 fa-500px"><span class="label">500px</span></a></li>
                        <li><a href="#" class="icon solid style2 fa-phone"><span class="label">Phone</span></a></li>
                        <li><a href="#" class="icon solid style2 fa-envelope"><span class="label">Email</span></a></li>
                    </ul>
                </section>
                <ul class="copyright">
                    <li>&copy; Untitled. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                </ul>
            </div>
        </footer>

    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>

    <script th:inline="javascript">
        function deleteBook(userId, bookNum) {
            if (confirm("삭제하시겠습니까?")) {
                location.href = `/deleteBook/${userId}/${bookNum}`;
            }
        }
    </script>
</body>
</html>



